<app-meni-bar></app-meni-bar>

<div class="justify-content-md-center">
  <form action="#" method="post" novalidate="novalidate" class="searchForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12 p-2">
                  <div class="form-group">
                      <div class="input-group">
                          <input id="typeahead-basic" type="text" style="width: 100%;" placeholder="Drzava" [(ngModel)]="accommodationSearch.zemlja" [ngModelOptions]="{standalone: true}" required/>
                      </div>
                  </div>            
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12 p-2">
                <div class="form-group">
                    <div class="input-group">
                            <input id="typeahead-basic" type="text" style="width: 100%;" placeholder="Grad" [(ngModel)]="accommodationSearch.grad" [ngModelOptions]="{standalone: true}" required/>
                    </div>
                </div>            
            </div>
          </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 p-2">
                  <div class="form-group">
                      <div class="input-group">
                          <input placeholder="Pocetni datum"
                                  name="dp1" [(ngModel)]="beginDate" style="width: 100%;" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [ngModelOptions]="{standalone: true}" required>
                      </div>
                  </div>            
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 p-2">
                  <div class="form-group">
                      <div class="input-group">
                        <input placeholder="Krajnji datum"
                              name="dp2" [(ngModel)]="endDate" style="width: 100%;" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" [ngModelOptions]="{standalone: true}" required>
                      </div>
                    </div>            
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12 p-2">
                  <input class="" type="text" name="numberOfPeople" style="width: 100%;" placeholder="Broj ljudi" [(ngModel)] = "accommodationSearch.brojLjudi" maxlength="3" [ngModelOptions]="{standalone: true}" required>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 p-2">
                  <button type="button" class="btn btnClass" (click) = "searchAccommodations()">Trazi</button>
              </div>
            </div>
            
        </div>
    </div>
  </form>
</div>
<div class="container">
    <div class="row">
      <a class="list-group-item col-md-4" style="padding: 10px;" *ngFor = "let i = index; let accommodation of accommodationToShow | paginate: { itemsPerPage: 10, currentPage: p }">
          <div style="display: inline-flex; width: 100%;">
              <h4 class="col-lg-10">{{accommodation.adresaDTO.zemlja}}</h4>
              <h3 class="col-md-1" style="max-width: 25%" (click) = "orderByType('RATING')">{{accommodation.ocena}}</h3>       
          </div>
          <label class="col-lg-12">{{accommodation.opis}}</label>
          <div style="width: 100%; display: inline-flex;">
            <h4 class="col-lg-10">{{accommodation.tipDTO.naziv}}</h4>
            <h4 class="col-lg-1">{{vratiTrenutnuCenu(accommodation)}}</h4>
          </div>
          <div class="col-lg-12" style="text-align: end;">
              <button class="btn btnClass" (click) = "book(accommodation)" >Rezervisi</button>
          </div>
      </a>
    </div>
</div>
